#General
*.swp
*.DS_Store
*.map

#Python
venv
*.pyc

#Sqlite3
db.sqlite3
*.sqlite3

#IntelliJ
*.idea
.idea

#CycleSafe App
app/migrations/*
local_settings.py
local_settings_old.py

#SASS
.sass-cache/

#NPM Modules
node_modules/

