/* VARIABLES */
/* KEYFRAMES */
@-webkit-keyframes pulse-header {
  0% {
    background-color: #333333; }
  50% {
    background-color: #525252; }
  100% {
    background-color: #333333; } }
@-moz-keyframes pulse-header {
  0% {
    background-color: #333333; }
  50% {
    background-color: #525252; }
  100% {
    background-color: #333333; } }
@keyframes pulse-header {
  0% {
    background-color: #333333; }
  50% {
    background-color: #525252; }
  100% {
    background-color: #333333; } }
html, body {
  margin: 0;
  padding: 0; }

input, textarea {
  font-family: "Roboto";
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 5px;
  padding-left: 5px;
  outline: 0px;
  resize: none; }

.wrap {
  width: 100%;
  height: 100%; }

.nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #333333;
  z-index: 1;
  -webkit-box-shadow: 0px 8px 22px -3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 8px 22px -3px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 8px 22px -3px rgba(0, 0, 0, 0.48); }
  .nav .title {
    position: relative;
    font-family: "Roboto";
    font-size: 20px;
    top: 14px;
    left: 10px;
    color: white; }
  .nav .title:hover {
    color: #DADFE1; }
  .nav .tagline {
    position: relative;
    font-style: italic;
    font-family: "Roboto";
    font-size: 18px;
    top: 13.5px;
    left: 15px;
    color: #DADFE1; }

.nav:hover {
  cursor: pointer; }

.menu-utils {
  -webkit-transition: height 0.1s ease-in;
  -moz-transition: height 0.1s ease-in;
  transition: height 0.1s ease-in;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: red; }
  .menu-utils .header {
    background-color: #333333;
    width: 100%;
    height: 50px; }
    .menu-utils .header img {
      display: block;
      position: relative;
      top: 7.5px;
      height: 35px;
      margin: 0 auto;
      width: auto; }
  .menu-utils .header-pulse {
    -webkit-animation: pulse-header 3s linear infinite;
    -moz-animation: pulse-header 3s linear infinite;
    animation: pulse-header 3s linear infinite; }
  .menu-utils .header:hover {
    cursor: pointer; }
  .menu-utils .tab-container {
    height: 50px;
    background-color: blue;
    display: flex; }
    .menu-utils .tab-container .tab {
      box-sizing: border-box;
      width: 50%;
      height: 100%;
      background-color: #525252;
      text-align: center; }
      .menu-utils .tab-container .tab .tab-title {
        font-family: "Roboto";
        font-size: 18px;
        color: white;
        position: relative;
        top: 16px; }
    .menu-utils .tab-container .tab:hover {
      cursor: pointer; }
    .menu-utils .tab-container .tab-selected {
      background-color: #262626;
      border-bottom: 4px solid #0078a0; }
  .menu-utils .tab-content {
    height: 100%;
    width: 100%;
    background-color: #ECF0F1; }
    .menu-utils .tab-content .report-hazard {
      height: 100%;
      display: flex;
      overflow-y: auto; }
      .menu-utils .tab-content .report-hazard .input-container, .menu-utils .tab-content .report-hazard .user-type, .menu-utils .tab-content .report-hazard .hazard-time, .menu-utils .tab-content .report-hazard .lat-long, .menu-utils .tab-content .report-hazard .description, .menu-utils .tab-content .report-hazard .submit {
        display: block;
        position: relative;
        height: 100px;
        top: 25px;
        margin: 0 10px;
        margin-bottom: 10px; }
        @media screen and (max-width: 700px) {
          .menu-utils .tab-content .report-hazard .input-container, .menu-utils .tab-content .report-hazard .user-type, .menu-utils .tab-content .report-hazard .hazard-time, .menu-utils .tab-content .report-hazard .lat-long, .menu-utils .tab-content .report-hazard .description, .menu-utils .tab-content .report-hazard .submit {
            width: 350px; } }
        @media screen and (min-width: 701px) {
          .menu-utils .tab-content .report-hazard .input-container, .menu-utils .tab-content .report-hazard .user-type, .menu-utils .tab-content .report-hazard .hazard-time, .menu-utils .tab-content .report-hazard .lat-long, .menu-utils .tab-content .report-hazard .description, .menu-utils .tab-content .report-hazard .submit {
            width: 300px; } }
      .menu-utils .tab-content .report-hazard .user-type {
        display: flex; }
        .menu-utils .tab-content .report-hazard .user-type img {
          display: block;
          position: relative;
          width: auto;
          height: 50%;
          top: -webkit-calc((100px - 50%)/2);
          top: calc((100px - 50%)/2);
          margin: 0 auto; }
        .menu-utils .tab-content .report-hazard .user-type .user-button {
          width: 50%;
          height: 100px;
          background-color: #468EA6;
          border-radius: 3px;
          margin: 5px; }
        .menu-utils .tab-content .report-hazard .user-type .user-button-selected {
          background-color: #0078a0; }
        .menu-utils .tab-content .report-hazard .user-type .user-button:hover {
          cursor: pointer; }
      .menu-utils .tab-content .report-hazard .hazard-time input {
        font-size: 14px;
        margin-top: 25px;
        width: 100%;
        height: 30px; }
      .menu-utils .tab-content .report-hazard .hazard-time select {
        position: relative;
        top: -webkit-calc((100% - 60px)/2);
        top: calc((100% - 60px)/2);
        font-family: "Roboto";
        font-size: 14px;
        width: 100%;
        height: 30px;
        border: 1px solid #808080;
        border-radius: 2px;
        outline: 0; }
      .menu-utils .tab-content .report-hazard .lat-long input {
        position: relative;
        top: -webkit-calc((100% - 70px)/2);
        top: calc((100% - 70px)/2);
        font-size: 14px;
        width: 100%;
        height: 30px;
        margin-top: 5px; }
      .menu-utils .tab-content .report-hazard .description textarea {
        padding-top: 10px;
        font-size: 14px;
        width: 100%;
        height: 100%;
        outline: 0; }
      .menu-utils .tab-content .report-hazard .submit {
        height: 75px;
        width: 200px;
        top: 37px;
        border-radius: 5px;
        background-color: #468EA6;
        text-align: center; }
        .menu-utils .tab-content .report-hazard .submit span {
          color: white;
          position: relative;
          font-family: "Roboto";
          font-size: 18px;
          top: 28.5px; }
      .menu-utils .tab-content .report-hazard .submit:hover {
        cursor: pointer;
        background-color: #0078a0; }
      @media screen and (max-width: 700px) {
        .menu-utils .tab-content .report-hazard {
          align-items: center;
          flex-direction: column; } }
      @media screen and (min-width: 701px) {
        .menu-utils .tab-content .report-hazard {
          justify-content: space-between;
          flex-direction: row; } }
    .menu-utils .tab-content .trip-planner {
      height: 100%; }

@media screen and (max-width: 700px) {
  .menu-utils-expand {
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px); } }
@media screen and (min-width: 701px) {
  .menu-utils-expand {
    height: 250px; } }

#map-canvas {
  position: relative;
  /* This might be a hack...*/
  height: -webkit-calc(100vh - 50px);
  height: calc(100vh - 50px);
  z-index: 0; }
  #map-canvas .map-search-box {
    margin-top: 24px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  #map-canvas #pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis; }
  #map-canvas #pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;
    width: 401px; }
