/* VARIABLES */

@import 'bourbon/bourbon';

$font: 'Roboto';
$break-small: 700px;
$break-large: 701px;


/* KEYFRAMES */

@include keyframes(pulse-header) {
	0% {
		background-color: #333333;
	}
	50% {
		background-color: #525252;
	}
	100% {
		background-color: #333333;
	}
}

html,body{
    margin: 0;
    padding: 0;
}

.wrap{
	width: 100%;
	height: 100%;
}

.nav{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #333333;
	z-index: 1;

	-webkit-box-shadow: 0px 8px 22px -3px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 8px 22px -3px rgba(0,0,0,0.48);
	box-shadow: 0px 8px 22px -3px rgba(0,0,0,0.48);

	.title{
		position: relative;
		font-family: $font;
		font-size: 20px;
		top: (50px - 22px)/2;
		left: 10px;
		color: white;
	}

	.title:hover{
		color: #DADFE1;
	}

	.tagline{
		position: relative;
		font-style: italic;
		font-family: $font;
		font-size: 18px;
		top: (50px - 23px)/2;
		left: 15px;
		color: #DADFE1;
	}
}

.nav:hover{
	cursor: pointer;
}

.menu-utils{
	@include transition(height 0.1s ease-in);
	position: fixed;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-color: red;
	.header{
		height: 50px;
		@include animation(pulse-header 3s linear infinite);
	}
	.header:hover{
		cursor: pointer;
	}
	.tab-container{
		height: 50px;
		background-color: blue;
		display: flex;
		.tab{
			width: 50%;
			height: 100%;
			background-color: orange;
		}
	}

	.tab-content{
		height: 100%;
		width: 100%;
		.report-hazard{
			height: 100%;
			background-color: blue;
			display: flex;
			overflow-y: auto;
			.input-container{
				display: block;
				position: relative;
				height: 100px;
				top: 25px;
				margin: 0 10px;
				margin-bottom: 10px;
				@media screen and (max-width: $break-small) {
					width: 350px;
  				}
  				@media screen and (min-width: $break-large) {
  					width: 300px;
				}
			}
			.user-type{
				@extend .input-container;
				background-color: red;
				display: flex;
				.bicycle{
					width: 50%;
					height: 100px;
					background-color: orange;
				}
				.pedestrian{
					width: 50%;
					height: 100px;
					background-color: black;
				}
			}
			.report-time{
				@extend .input-container;
				background-color: pink;
			}
			.lat-long{
				@extend .input-container;
				background-color: orange;
			}
			.description{
				@extend .input-container;
				background-color: green;
			}
			.submit{
				@extend .input-container;
				height: 75px;
				width: 200px;
				top: 37px;
				background-color: Magenta;
			}
			@media screen and (max-width: $break-small) {
				align-items: center;
  				flex-direction: column;
  			}
  			@media screen and (min-width: $break-large) {
  				justify-content: space-between;
  				flex-direction: row;
			}
		}

		.trip-planner{
			height: 100%;
			background-color: pink;
		}
	}

}

.menu-utils-expand {
	@media screen and (max-width: $break-small) {
  		@include calc(height, "100% - 50px");
  	}
  	@media screen and (min-width: $break-large) {
		height: 250px;
	}
}

/*.tools {
	position: absolute;
	z-index: 1;
	bottom: 20px;
	right: 10px;
	.btn-report {
		margin-top: 10px;
		width: 50px;
		height: 50px;
		background-color: red;
	}
}*/

#map-canvas {
	position: relative;
	/* This might be a hack...*/
	@include calc(height, "100vh - 50px");
	z-index: 0;

	.map-search-box {
        margin-top: 24px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
     }

	#pac-input {
		background-color: #fff;
		padding: 0 11px 0 13px;
		width: 400px;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		text-overflow: ellipsis;
	}

	#pac-input:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px;
		width: 401px;
	}
}