/* General settings */
    input[type="text"],
    textarea,
    select {
        border-radius: 3px;
    }
    select {
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
    }

    .blue {
        color: #008cba;
    }

    .center {
        text-align: center;
    }

    .inline-block {
        display: inline-block;
    }

    .align-middle {
        vertical-align: middle;
    }

    .hidden {
        display: none;
    }

    textarea {
        max-height: 100px;
    }


/* Navbar CSS */
    .top-bar {
        margin-bottom: 16px;
    }

    .has-tip {
        border-bottom: none;
    }

    .has-tip:hover {
        border-bottom: none;
    }

/* Map CSS */

    #modal-img {
       float: right;
       margin-right: 60px;
       width: 30%;
    }

    #map-canvas img {
        max-width: none;
    }

    #map-canvas label {
        width: auto;
        display: inline;
    }

    #map-canvas {
        width: 100%;
        height: 85vh;
        display: block;
        float: right;
        position: relative;
    }

    .edit-form-map {
        max-height: 665px;
    }

    img, object, embed {
        max-width: 100%;
    }

    label {
        display: block;
        font-weight: bold;
    }

    /* InfoWindow styling. Limits div width. */
    .gm-style-iw {
        max-width: 400px;
    }

/* Trip planner form styling. */

.trip-planner-form {
    padding-right: 20px;
}
/*Time Picker*/
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
    .ui-timepicker-div td { font-size: 90%; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

    .ui-timepicker-rtl{ direction: rtl; }
    .ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
    .ui-timepicker-rtl dl dt{ float: right; clear: right; }
    .ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
