/* General settings */
    input[type="text"],
    textarea,
    select {
        border-radius: 3px;
    }
    select {
        background-color: #fff;
        cursor: pointer;
        box-shadow: 0 -1px 2px rgba(0,0,0,.1) inset;
    }

    .blue {
        color: #008cba;
    }

    .center {
        text-align: center;
    }

    .inline-block {
        display: inline-block;
    }

    .align-middle {
        vertical-align: middle;
    }

    .hidden {
        display: none;
    }

    textarea {
        max-height: 100px;
    }

    /* Override Foundation's default chunky button styling. Takes up too much space. */
    button, .button {
    padding-top: .5rem;
    padding-right: 1.5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    margin-bottom: .5rem;
    }

/* Navbar CSS */
    .top-bar {
        margin-bottom: 16px;
    }

    .has-tip {
        border-bottom: none;
    }

    .has-tip:hover {
        border-bottom: none;
    }

/* Marker styling */

.infowindow-additional-content {
    padding: 0 2px 10px 0;
    text-align: right;
}

.delete-marker {
  background-color: rgba(216,67,21,0.8);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 5px 0 5px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.delete-marker:active {
  background-color: rgb(216,67,21);
}

/* Map CSS */

    #modal-img {
       float: right;
       margin-right: 60px;
       width: 30%;
    }

    #map-canvas img {
        max-width: none;
    }

    #map-canvas label {
        width: auto;
        display: inline;
    }

    #map-canvas {
        width: 100%;
        height: 85vh;
        display: block;
        float: right;
        position: relative;
    }

    .edit-form-map {
        max-height: 665px;
    }

    img, object, embed {
        max-width: 100%;
    }

    label {
        display: block;
        font-weight: bold;
    }

    /* InfoWindow styling. Limits div width. */
    .gm-style-iw {
        max-width: 400px;
    }

/* Trip planner form styling. */

.trip-planner-form {
    padding-right: 20px;
}

/* Trip Planner directions panel styling */
/* TODO(zemadi): Fix flexbox alignment. */
.directions-panel-inner-container {
    border: 1px solid dimgray;
    margin: 2%;
    padding: 1%;
}

/* TODO(zemadi): Always show scrollbar. OSX hides scroll by default. Looks confusing. */
.directions-panel-row-container {
    border: 1px solid lightgray;
    padding: 2%;
    max-height: 40vh;
    overflow-y: scroll;
}

.directions-panel-row {
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.directions-panel-column {
    max-width: 40vw;
    padding-left: .5%;
    padding-right: .5%;
}

.flex-item:nth-child(1) {
    order: 1;
    flex: 2 0 auto;
    align-self: flex-start;
    }

.flex-item:nth-child(2) {
    order: 1;
    flex: 1 0 auto;
    align-self: flex-start;
    }

.flex-item:nth-child(3) {
    order: 3;
    flex: 4 1 0;
    align-self: auto;
    }

.flex-item:nth-child(4) {
    order: 4;
    flex: 2 1 auto;
    align-self: auto;
    }

/* Additional styling on directions panel elements */
.adp-maneuver {
    display: inline-block;
}

.directions-step-count {
    display: inline-block;
    padding-left: .5%;
}

.directions-panel-hazard {
    color: darkblue;
    font-weight: bold;
}

/* Slide animation for directions panel
 Credit: http://davidwalsh.name/css-slide
 */
.slider {
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */

	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 0;
}

/*Time Picker*/
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
    .ui-timepicker-div dl { text-align: left; }
    .ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
    .ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
    .ui-timepicker-div td { font-size: 90%; }
    .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

    .ui-timepicker-rtl{ direction: rtl; }
    .ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
    .ui-timepicker-rtl dl dt{ float: right; clear: right; }
    .ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
