/* May need to create separate CSS files for pages. */

/* Map CSS at bottom of document. */

body {
    padding-top: 50px;
}

.navbar {
    position: absolute;
}

.navbar .container {
    vertical-align: middle;
}

.brand {
    text-decoration: none;
    font-size: 2em;
    color: forestgreen;
    float: left;
}

.brand:hover {
    text-decoration: none;
    color: forestgreen;

}

.list-unstyled {
    color: white;
    padding-left: 5%;
}

.list-unstyled a {
    vertical-align: middle;
    margin-top: 20px;
}

.list-unstyled a:hover {
    text-decoration: none;
}

#row1 {
    margin-top: 20px;
}


img, object, embed {
    max-width: 100%;
}

label {
    display: block;
}

/*
#align_left {
    text-align: left;
}
#hazard-request {
    display: inline-block;
    float: left;
    text-align: right;
    width: 30%;
    font-size:1em;
}

.fieldWrapper p {
    vertical-align: middle;
}*/

/* Styling on form elements to make them look ok.  */
/*.fieldWrapper select, input:nth-child(1), input:nth-child(2), textarea {
    width: 250px;
    max-height: 2%;
}*/


/* Map CSS */

#map-canvas img {
    max-width: none;
}

#map-canvas label {
    width: auto;
    display: inline;
}

#map-canvas {
    width: 100%;
    height: 500px;
    display: block;
    float: right;
    position: relative;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px; /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}