body {
    padding-top: 50px;
}

.navbar {
    position: absolute;
}

.navbar .container {
    vertical-align: middle;
}

.brand {
    text-decoration: none;
    font-size: 2em;
    color: forestgreen;
    float: left;
}

.brand:hover {
    text-decoration: none;
    color: forestgreen;

}

.list-unstyled {
    color: white;
    padding-left: 5%;
}

.list-unstyled a {
    vertical-align: middle;
    margin-top: 20px;
}

.list-unstyled a:hover {
   text-decoration: none;
}

#row1 {
    margin-top: 20px;
}
#map-canvas img {
  max-width: none;
}

#map-canvas label {
  width: auto;
  display:inline;
}

#map-canvas{
  width: 100%;
  height:500px;
  display: block;
  float: right;
  position: relative;
}

img, object, embed { max-width: 100%; }
label {
    display: block;
}
/*
#align_left {
    text-align: left;
}
#hazard-request {
    display: inline-block;
    float: left;
    text-align: right;
    width: 30%;
    font-size:1em;
}

.fieldWrapper p {
    vertical-align: middle;
}*/

/* Styling on form elements to make them look ok.  */
/*.fieldWrapper select, input:nth-child(1), input:nth-child(2), textarea {
    width: 250px;
    max-height: 2%;
}*/