{% extends 'base.html' %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    {{ form.media }}
{% endblock %}

{% block main %}
    <!-- Subhead
	================================================== -->
    <div id="subcontainer">
        <div class="row" id="row1">
            <!-- Region Left -->
            <div class="medium-4 columns">
                <div id='hazard-request'>
                    {% load widget_tweaks %}
                    <p class="lead">CycleSafe allows cyclists and pedestrians to map dangerous routes in their
                        communities.</p>

                    <form class="form_data" method='POST' action="" role="form">
                        {% csrf_token %}
                        <label>User Type:</label>
                        {{ form.user_type }}
                        <label>Hazard:</label> {{ form.hazard_type }}
                        <label>Date &amp; Time:</label>
                        {{ form.dateTime }}
                        {#<input type="text" id="datepicker">#}
                        <p>Click on the map to set a different location.</p>
                        <label>Latitude &amp; Longitude</label>
                        <div class="row collapse latlong-container">
                            <div class="small-6 columns">
                                {{ form.lat|add_class:"radius" }}
                            </div>
                            <div class="small-6 columns">
                                {{ form.lon|add_class:"radius" }}
                            </div>
                        </div>
                        <label>Description:</label> {{ form.description|add_class:"form-control" }}
                        <input type="submit" class="submit primary radius button" value="Submit">
                    </form>
                </div>
            </div>
            <div class="medium-8 columns">
                <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                <div id="map-canvas"></div>
                {% block map %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>

    <script>
        //jQuery datetime picker, which is part of the Report a Hazard view.
        $('#id_dateTime').datetimepicker();
    </script>
{% endblock %}