{% verbatim %}
	<script id="custom-directions-panel" type="text/x-handlebars-template">
		<div id="directions-panel">
			<!-- Container -->
			<div class="medium-12 columns directions-panel-container">
				<div class="directions-panel-inner-container">
					<!-- Header rows -->
					<div>Start: {{start_address}}</div>
					<div>Distance: {{distance.text}}, {{duration.text}}</div>
					<!-- Main row container -->
					<div>Hazards along this route: {{marker_count}}</div>
					<div class="directions-panel-row-container">
						Directions:
						{{#each steps}}
						<div class="directions-panel-row">
							<div class="directions-panel-column">
								<div class="directions-step-count">{{count @index}}.</div>
							</div>
							<div class="directions-panel-column">
								<div class="{{#if maneuver}}adp-maneuver adp-{{maneuver}}{{/if}}"></div>
							</div>
							<div class="directions-panel-column">{{strip-scripts instructions}}
								<div class="directions-panel-marker">
									{{#if markers}}
										{{#each markers}}
											<div class="directions-panel-hazard">Hazard: {{this.hazard_type}}</div>
											{{#if this.description}} <div>Description: {{this.description}}</div>{{/if}}
										{{/each}}
									{{/if}}
								</div>
							</div>
							<div class="directions-panel-column">{{distance.text}}</div>
						</div>
						{{/each}}
					</div>
					<div>End: {{end_address}}</div>
				</div>
			</div>
		</div>
	</script>
{% endverbatim %}