{% extends 'base.html' %}

{% block extraCSS %}
{% endblock %}

{% block extraJS %}
    {{ form.media }}
{% endblock %}

{% block main %}
<div id="row">
	<div id="medium-4 columns">
		<b>Start: </b>
		<input id="start" class="trip-planner-form" onchange="calcRoute();">
		</input>
		<b>End: </b>
		<input id="end" class="trip-planner-form" onchange="calcRoute();">
		</input>
		<b>Mode of Travel: </b>
		<select id="mode_travel" class="trip-planner-form" onchange="calcRoute();">
		  <option value="BICYCLING">Bicycling</option>
		  <option value="WALKING" selected="selected">Walking</option>
		</select>
		</div>
		<div class="medium-8 columns">
		<!-- TODO(zemadi): Add places search in. -->
			<input id="pac-input" class="controls" type="text" placeholder="Search for a location here. The position will be added to the form. ">
			<div id="map-canvas" class="edit-form-map"></div>
			<div id="directions-panel"></div>
		</div>
</div>
{% endblock %}

{% block scripts_bottom %}
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script>
	<script type="text/javascript"  src="{{ STATIC_URL }}js/common.js"></script>
	<script type="text/javascript"  src="{{ STATIC_URL }}js/trip_planner.js"></script>
{% endblock %}