{% extends 'base.html' %}

{% block extraCSS %}
	<link href="{{ STATIC_URL }}css/directions_panel_icons.css" rel="stylesheet">
{% endblock %}

{% block extraJS %}
	{{ form.media }}
{% endblock %}

{% block main %}
	<div id="row">
		<div class="medium-12 columns">Find out if there are any hazards along your route. Enter your start and end
			addresses, and mode of transportation.</div>
		<div id="trip-container" class="medium-12 columns flip-container">
			<div class="flipper">
				<div class="front">
					<div class="medium-4 columns">
						<label>Start: </label>
						<input id="start" class="trip-planner-form" type="text">
					</div>
					<div class="medium-4 columns">
						<label>End: </label>
						<input id="end" class="trip-planner-form" type="text">
					</div>
					<div class="medium-4 columns">
						<label>Mode of Travel: </label>
						<select id="mode_travel" class="trip-planner-form">
						  <option disabled="disabled" selected="selected">Choose One</option>
						  <option value="BICYCLING">Bicycling</option>
						  <option value="WALKING">Walking</option>
						</select>
					</div>
				</div>
				<div id="directions-panel" class="back">
				</div>
			</div>
		</div>
		<div class="medium-12 columns">
			<!-- TODO(zemadi): Add places search. -->
			<input id="pac-input" class="controls" type="text"
				   placeholder="Places search is currently disabled. We'll add this feature soon!">
			<div id="map-canvas" class="edit-form-map"></div>
			<div id="directions-panel"></div>
		</div>
		{% include 'trip_planner_handlebars.html' %}
	</div>
{% endblock %}

{% block scripts_bottom %}
	<script type="text/javascript"
			src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/handlebars-v3.0.0.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/handlebars_helpers.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/trip_planner.js"></script>
{% endblock %}